$button-color: #f5a623;
$button-text-color: white;
$button-hover-color: #e89e42;
$primary-color: #ffba58;
$secendary-color: #FF6040;
$box-color: #FFFAF0;
$body-color: white;
$border-radius: 8px;
$button-padding: 12px 24px;
$transition-speed: 0.3s;